<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AluraGeek - CHALLENGE</title>
  <meta name="content" content="AluraGeek - CHALLENGE" />
  <meta name="description"
    content="Transform your home or business with customized resin floors that not only reflect your unique style but also offer durability and easy maintenance. Our innovative designs and high-quality materials ensure a spectacular finish that captures the essence of your space. Choose excellence and personalization; choose floors that tell your story. Build with us and walk with pride!">
  <!--REVISAR CUNADO SE TENGA EL DOMINIO DE LA PAGINA-->
  <link rel="canonical" href="https://XXXX.com" />
  <!-- AGREGA EL ICONO DE LA PAGINA-->
  <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/img/favicon.png" />
  <!-- CAMBIA EL COLOR DE LA BARRA DE NAVEGACION DE LOS DISPOSITIVOS MOVILES-->
  <meta name="theme-color" content="#00a2ff80" />
  <!--ETIQUETAS PARA HABILITAR EL FORMATO DE CARD AL COMPARTIR ENLACE EN LAS REDES SOLCIALES -->

  <meta property="og:title" content="AluraGeek - CHALLENGE" />
  <meta property="og:url" content="https://XXXX.com" />
  <meta property="og:image" content="https://XXXX.com/assets/image/og-image.jpg" />
  <meta name="twitter:card" content="AluraGeek - CHALLENGE">
  </meta>

  <!-- <meta name="twitter:site" content="@JosemendezCL" />--> <!--cuenta de twitter-->
  <link rel="stylesheet" href="./reset-box.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <header>
    <h1>AluraGeek</h1>
  </header>
  <main>
    <section class="container-gallery">
      <h2>MIS PRODUCTOS</h2>
      <div class="container-products">

        <article class="product-card">
          <img class="product-img" src="./assets/img/product.jpg" alt="">
          <h4 class="product-name">Nombre del producto</h4>
          <div class="product-content backgound-blue">
            <div class="product-partial-content">
              <h2 class="product-price">$149.0</h2>
              <div class="product-spacer"></div>
              <svg class="icon-trash" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                stroke-width="1.5">
                <path
                  d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9">
                </path>
                <path
                  d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9H20Z"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="#FFFFFF">
                </path>
                <path
                  d="M21 6H15.375M3 6H8.625M8.625 6V4C8.625 2.89543 9.52043 2 10.625 2H13.375C14.4796 2 15.375 2.89543 15.375 4V6M8.625 6H15.375"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="#FFFFFF">
                </path>
              </svg>
            </div>
            <div class="stars">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path fill="currentcolor"
                        d="M109.8,51.6c-9.9,20.1-18.2,36.8-18.6,37.1c-0.4,0.4-18.5,3.3-40.4,6.4c-21.8,3.2-40.1,5.9-40.6,6.1c-1,0.4,0.4,1.8,42.3,42.7l15.9,15.5L61.4,200c-3.8,22.3-6.8,40.7-6.6,40.8c0.2,0.1,16.6-8.4,36.5-18.8c19.8-10.4,36.3-18.9,36.7-18.9s16.9,8.5,36.7,18.9c19.8,10.4,36.2,18.9,36.5,18.8c0.2-0.1-2.7-18.5-6.6-40.8l-7-40.6l15.9-15.5c41.1-40,43.3-42.2,42.3-42.7c-0.5-0.2-18.8-3-40.6-6.1c-21.8-3.1-40-6-40.4-6.4c-0.4-0.4-8.7-17.1-18.6-37.1c-9.9-20.1-18-36.5-18.2-36.5S119.6,31.6,109.8,51.6z" />
                    </g>
                  </g>
                </g>
              </svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path fill="currentcolor"
                        d="M109.8,51.6c-9.9,20.1-18.2,36.8-18.6,37.1c-0.4,0.4-18.5,3.3-40.4,6.4c-21.8,3.2-40.1,5.9-40.6,6.1c-1,0.4,0.4,1.8,42.3,42.7l15.9,15.5L61.4,200c-3.8,22.3-6.8,40.7-6.6,40.8c0.2,0.1,16.6-8.4,36.5-18.8c19.8-10.4,36.3-18.9,36.7-18.9s16.9,8.5,36.7,18.9c19.8,10.4,36.2,18.9,36.5,18.8c0.2-0.1-2.7-18.5-6.6-40.8l-7-40.6l15.9-15.5c41.1-40,43.3-42.2,42.3-42.7c-0.5-0.2-18.8-3-40.6-6.1c-21.8-3.1-40-6-40.4-6.4c-0.4-0.4-8.7-17.1-18.6-37.1c-9.9-20.1-18-36.5-18.2-36.5S119.6,31.6,109.8,51.6z" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <button class="button-card">VER DETALLE</button>
          </div>
        </article>

        <article class="product-card">
          <img class="product-img" src="./assets/img/product.jpg" alt="">
          <h4 class="product-name">Nombre del producto</h4>
          <div class="product-content backgound-pink">
            <div class="product-partial-content">
              <h2 class="product-price">$149.0</h2>
              <div class="product-spacer"></div>
              <svg class="icon-trash" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                stroke-width="1.5">
                <path
                  d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9">
                </path>
                <path
                  d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9H20Z"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="#FFFFFF">
                </path>
                <path
                  d="M21 6H15.375M3 6H8.625M8.625 6V4C8.625 2.89543 9.52043 2 10.625 2H13.375C14.4796 2 15.375 2.89543 15.375 4V6M8.625 6H15.375"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="#FFFFFF">
                </path>
              </svg>
            </div>
            <div class="stars">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path fill="currentcolor"
                        d="M109.8,51.6c-9.9,20.1-18.2,36.8-18.6,37.1c-0.4,0.4-18.5,3.3-40.4,6.4c-21.8,3.2-40.1,5.9-40.6,6.1c-1,0.4,0.4,1.8,42.3,42.7l15.9,15.5L61.4,200c-3.8,22.3-6.8,40.7-6.6,40.8c0.2,0.1,16.6-8.4,36.5-18.8c19.8-10.4,36.3-18.9,36.7-18.9s16.9,8.5,36.7,18.9c19.8,10.4,36.2,18.9,36.5,18.8c0.2-0.1-2.7-18.5-6.6-40.8l-7-40.6l15.9-15.5c41.1-40,43.3-42.2,42.3-42.7c-0.5-0.2-18.8-3-40.6-6.1c-21.8-3.1-40-6-40.4-6.4c-0.4-0.4-8.7-17.1-18.6-37.1c-9.9-20.1-18-36.5-18.2-36.5S119.6,31.6,109.8,51.6z" />
                    </g>
                  </g>
                </g>
              </svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path fill="currentcolor"
                        d="M109.8,51.6c-9.9,20.1-18.2,36.8-18.6,37.1c-0.4,0.4-18.5,3.3-40.4,6.4c-21.8,3.2-40.1,5.9-40.6,6.1c-1,0.4,0.4,1.8,42.3,42.7l15.9,15.5L61.4,200c-3.8,22.3-6.8,40.7-6.6,40.8c0.2,0.1,16.6-8.4,36.5-18.8c19.8-10.4,36.3-18.9,36.7-18.9s16.9,8.5,36.7,18.9c19.8,10.4,36.2,18.9,36.5,18.8c0.2-0.1-2.7-18.5-6.6-40.8l-7-40.6l15.9-15.5c41.1-40,43.3-42.2,42.3-42.7c-0.5-0.2-18.8-3-40.6-6.1c-21.8-3.1-40-6-40.4-6.4c-0.4-0.4-8.7-17.1-18.6-37.1c-9.9-20.1-18-36.5-18.2-36.5S119.6,31.6,109.8,51.6z" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <button class="button-card">VER DETALLE</button>
          </div>
        </article>

        <article class="product-card">
          <img class="product-img" src="./assets/img/product.jpg" alt="">
          <h4 class="product-name">Nombre del producto</h4>
          <div class="product-content backgound-yellow">
            <div class="product-partial-content">
              <h2 class="product-price">$149.0</h2>
              <div class="product-spacer"></div>
              <svg class="icon-trash" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                stroke-width="1.5">
                <path
                  d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9">
                </path>
                </path>
                <path
                  d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9H20Z"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="#FFFFFF">
                </path>
                <path
                  d="M21 6H15.375M3 6H8.625M8.625 6V4C8.625 2.89543 9.52043 2 10.625 2H13.375C14.4796 2 15.375 2.89543 15.375 4V6M8.625 6H15.375"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="#FFFFFF">
                </path>
              </svg>
            </div>
            <div class="stars">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path fill="currentcolor"
                        d="M109.8,51.6c-9.9,20.1-18.2,36.8-18.6,37.1c-0.4,0.4-18.5,3.3-40.4,6.4c-21.8,3.2-40.1,5.9-40.6,6.1c-1,0.4,0.4,1.8,42.3,42.7l15.9,15.5L61.4,200c-3.8,22.3-6.8,40.7-6.6,40.8c0.2,0.1,16.6-8.4,36.5-18.8c19.8-10.4,36.3-18.9,36.7-18.9s16.9,8.5,36.7,18.9c19.8,10.4,36.2,18.9,36.5,18.8c0.2-0.1-2.7-18.5-6.6-40.8l-7-40.6l15.9-15.5c41.1-40,43.3-42.2,42.3-42.7c-0.5-0.2-18.8-3-40.6-6.1c-21.8-3.1-40-6-40.4-6.4c-0.4-0.4-8.7-17.1-18.6-37.1c-9.9-20.1-18-36.5-18.2-36.5S119.6,31.6,109.8,51.6z" />
                    </g>
                  </g>
                </g>
              </svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path fill="currentcolor"
                        d="M109.8,51.6c-9.9,20.1-18.2,36.8-18.6,37.1c-0.4,0.4-18.5,3.3-40.4,6.4c-21.8,3.2-40.1,5.9-40.6,6.1c-1,0.4,0.4,1.8,42.3,42.7l15.9,15.5L61.4,200c-3.8,22.3-6.8,40.7-6.6,40.8c0.2,0.1,16.6-8.4,36.5-18.8c19.8-10.4,36.3-18.9,36.7-18.9s16.9,8.5,36.7,18.9c19.8,10.4,36.2,18.9,36.5,18.8c0.2-0.1-2.7-18.5-6.6-40.8l-7-40.6l15.9-15.5c41.1-40,43.3-42.2,42.3-42.7c-0.5-0.2-18.8-3-40.6-6.1c-21.8-3.1-40-6-40.4-6.4c-0.4-0.4-8.7-17.1-18.6-37.1c-9.9-20.1-18-36.5-18.2-36.5S119.6,31.6,109.8,51.6z" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <button class="button-card">VER DETALLE</button>
          </div>
        </article>
      </div>
    </section>
    <section class="container-form">
      <h2>AGREGAR PRODUCTO</h2>
      <form class="formulario-contacto" id="my-form" action="https://formspree.io/f/mpzvbozo" method="POST">
        <div class="inputs-form">
          <div>
            <div class="input-name">
              <label for="nombre" class="etiquetas-formulario">NOMBRE</label>
              <div class="input-wrapper">
                <input type="text" name="name" placeholder="Nombre del producto" title="Nombre"
                  pattern="^[a-zA-ZÀ-ÿ\s]+$" class="input" maxlength="19" required />
                <svg class="input-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 256 256"
                  enable-background="new 0 0 256 256" xml:space="preserve">
                  <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                  <g>
                    <g>
                      <path fill="currentColor"
                        d="M236.7,75.9h-27.9v27.9c0,5.2-4.2,9.3-9.3,9.3s-9.3-4.2-9.3-9.3V75.9h-27.9c-5.2,0-9.3-4.2-9.3-9.3c0-5.2,4.2-9.3,9.3-9.3h27.9V29.4c0-5.2,4.2-9.3,9.3-9.3s9.3,4.2,9.3,9.3v27.9h27.9c5.2,0,9.3,4.2,9.3,9.3C246,71.8,241.8,75.9,236.7,75.9z M175.5,234.5c-6.4,2.8-13.8-0.2-16.5-6.5l-18.4-40.3h-95L28,230.1c-1.9,4.8-7.3,7.1-12.1,5.2c-4.8-1.9-7.1-7.3-5.3-12.1L81.9,52c0.5-2,1.5-3.9,2.9-5.4c0.1-0.1,0.2-0.2,0.3-0.2c1.1-1.1,2.4-2,3.9-2.7c6.4-2.8,13.8,0.2,16.5,6.5L182,217.9C184.8,224.3,181.8,231.7,175.5,234.5z M91,78.7l-40.2,96.5h84.2L91,78.7z" />
                    </g>
                  </g>
                </svg>
              </div>
            </div>

            <div class="input-phone">
              <label for="phone" class="etiquetas-formulario">PRECIO</label>
              <div class="input-wrapper">
                <input type="number" name="price" placeholder="25.0" title="Precio" pattern="" required class="input" />

                <svg class="input-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 256 256"
                  enable-background="new 0 0 256 256" xml:space="preserve">
                  <g>
                    <g>
                      <g>
                        <path fill="currentColor"
                          d="M122.6,23.3v13.2l-1.8,0.3c-9.6,1.6-15.1,3.1-21.4,6.4C90,47.8,82.6,55,78.2,63.8c-5.6,11.2-6.6,26.9-2.6,40c4.9,15.9,18.8,26.9,48.4,38.7c10.5,4.1,13.1,5.4,17.9,8.7c6.5,4.5,9.6,9.5,10.6,16.7c1.1,7.7-0.8,14.9-5.2,19.6c-4.3,4.5-9.8,6.6-17.8,6.6c-8,0-14-2.2-19.1-6.9c-4.8-4.4-7.1-10.4-7.7-19.3l-0.3-4.9H84.7H67.1v4.7c0,18.9,7.4,33.5,21.7,43.1c8.3,5.6,17,8.7,29.2,10.5l2.1,0.3v12.2V246h9.8h9.8v-12.3v-12.3l1.1-0.2c0.6-0.1,3.1-0.6,5.6-1c16.7-2.8,30.6-12.1,37.2-24.8c7.3-13.9,7.2-34.1-0.1-48.3c-1.6-3.1-3.1-5.1-7.1-9c-8.3-8.4-19.6-15-39.8-23.5c-11.3-4.7-16.9-7.9-20.8-11.7c-5.1-5-7.3-12.3-6.2-20.7c1.5-11,7.9-17.4,18.2-18.2c14.5-1.2,23.3,8.1,25,26.5l0.3,3.9h17.7h17.7v-3.2c0-7.8-2-17.4-5-24.4c-4.8-11.1-13.5-20.1-24.7-25.2c-4-1.8-10.8-3.9-14.5-4.5l-2.4-0.3V23.5V10h-9.8h-9.7L122.6,23.3L122.6,23.3z" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>

            <div class="input-email">
              <label for="email" class="etiquetas-formulario">IMAGEN</label>
              <div class="input-wrapper">
                <input type="text" name="image" placeholder="Enlace de la imagen" title="Enlace de la imagen" pattern=""
                  class="input" />
                <svg class="input-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 256 256"
                  enable-background="new 0 0 256 256" xml:space="preserve">
                  <g>
                    <g>
                      <g>
                        <path fill="currentColor"
                          d="M14.6,38.2c-2,0.9-4.1,3.4-4.4,5.4C10,44.4,10,83,10,129.4c0.1,84.2,0.1,84.3,1.2,85.6c0.5,0.7,1.6,1.8,2.4,2.4l1.3,1h113.2h113.2l1.3-1c0.7-0.5,1.8-1.6,2.4-2.4l1-1.3v-85.6V42.4l-1-1.3c-0.5-0.7-1.6-1.8-2.4-2.4l-1.3-1l-112.6-0.1C35.8,37.5,15.8,37.6,14.6,38.2z M229.7,54c0.7,0.7,0.8,8.1,0.8,74.2c0,56.5-0.1,73.6-0.6,74c-0.8,0.8-23,0.8-24.2,0c-0.4-0.3-11.8-16.1-25.2-34.9c-17.4-24.3-24.7-34.2-25.4-34.2c-1.1,0-16.7,21.6-16.7,23.2c0,0.6,7,10.8,15.8,23.1c8.7,12.1,15.8,22.4,15.8,22.7c0,0.5-1.4,0.7-6.8,0.7c-3.8,0-7.2-0.1-7.6-0.3c-0.4-0.1-18.2-24.7-39.5-54.6c-24.1-33.7-39.1-54.4-39.6-54.4c-0.4,0-1.2,0.6-1.7,1.3c-3.5,5.4-48.1,62.7-48.5,62.4c-0.2-0.1-0.4-23.2-0.4-51.4c0-45.8,0.1-51.2,0.8-51.9c0.7-0.7,10.6-0.8,101.6-0.8C219.1,53.2,229,53.3,229.7,54z" />
                        <path fill="currentColor"
                          d="M184.1,69.9c-11.9,3.8-19,16.4-15.9,28.3c2.3,8.9,9.5,15.8,18.3,17.6c10.8,2.2,22.7-4.3,26.8-14.7c1.6-4.2,1.9-10.8,0.5-15.2c-3.2-10.4-12.1-16.9-22.9-16.8C188.5,69,185.8,69.4,184.1,69.9z" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="input-mensaje">
            <label for="message" class="etiquetas-formulario">DESCRIPCIÓN</label>
            <textarea name="description" aria-label="description" rows="12" class="caja-texto"></textarea>
          </div>
        </div>
        <div class="container-buttons">
          <button id="my-form-button" class="boton-general backgound-blue" type="submit">AGREGAR</button>
          <button id="my-form-button" class="boton-general backgound-pink">LIMPIAR</button>
        </div>
      </form>
    </section>
  </main>
  <footer>
    <p>Copyright © 2024 José Alexander Polanco Méndez</p>
  </footer>
</body>

</html>
<script type="module" src="./js/main.js"></script>